{% include "header.html" %}
	<!-- /#header -->
	<div id="content">
		<div id="panel1">
			<div id="panel1-inside">
				<div id="panel1-right">
					<h1><b>Introducing , a web-based clinical reference to identify skin lesions</b></h1>
					<div class="panel1-sq" id="sq3">
						<div class="pic-icon sq-icon"></div>
						<div class="sq-title"><a href="static/upload.html">Identify</a></div>
					</div>
					<div class="clearfix"></div>
					<h2>
						lets you search by picture. Just take a photo of a skin lesion and our app will search a proprietary image database of diagnosed lesions.
					</h2>
				</div>
				<a class="pic-icon down1 nav" href="#about"></a>
			</div>
		</div>
		<!-- /#panel1 --> 
{% include "footer.html" %}